.card{
    margin: 45px;
    margin-bottom: 40px;
    transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  margin-top:90px;
  justify-content: space-around;
  margin-right: 45px;
}

#bageSale{
    top: 0.5rem;
    right:0.5rem;
    margin-left:20px;
}
.card:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  
}
.text-muted{
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
